:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

body {
  margin: 0;
}

.title {
  height: 5vh;
  padding: 2.5vh 2.5vh 2.5vh 2.5vh;
  background-color: rebeccapurple;
}

.app {
  height: 100%;
}

/* Visual Map Css */
.container {
  height: 100%;
}

#super-container {
  /* display: flex;
  flex-direction: row; */
  height: 100%;
}

.layout-container {
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  height: 100%;
}

.leaflet-container {
  flex-grow: 1;
  align-items: center;
}

.sidebar-container {
  display: flex;
  background-color: #242424;
  padding: 10px;
  flex-direction: column;
  z-index: 1000;
  position: absolute;
  right: 0vw;
  top: 10vh;
  margin-top: 15px;
  margin-right:10px;
  border-radius: 4px;
}

.sidebar-container[data-hidden^="true"] {
  height: fit-content;
  background-clip: padding-box;
}

.sidebar-container[data-hidden^="true"] > #map-sidebar {
  display: none;
}

#map-sidebar {
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  width: 250px;
  gap: 5px;
  padding-top: 5px;
}

.sidebar-item {
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid darkgrey;
}


#hidebar {
  width: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  height: 50px;
}


.sidebar-container[data-hidden^="true"] > #hidebar {
  flex-direction: column;
  height: fit-content;
  gap: 5px;
}


#hide-btn {
  padding: 10px;
  margin: 5px;
  border: 1px solid darkgrey;
  align-self: flex-end;
}

.sidebar-container[data-hidden^="true"] > #hidebar > #hide-btn {
  margin-top: 2px;
}

.sidebar-container[data-hidden^="true"] > #hidebar > #sidebar-title {
  display: none;
}

.loader {
    width: 40px;
    height: 37px;
    border-radius: 50%;
    margin-top: 8px;
    border-color: 5px solid rebeccapurple;
    position: relative;
    animation: rotate 1s linear infinite;
    align-self: flex-start;
}

.loader::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 10px solid rebeccapurple;
    animation: prixClipFix 2s linear infinite ;
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}


/*---- Date Picker ----*/


.react-datepicker {
  font-size: 1em;
  background-color: #242424;
}

.react-datepicker__input-container {
  display: flex;
}

.sidebar-datepicker {
  width: max-content;
  flex: 1 1 0;
}

